<div class="relative">
  <button
    class="px-3 py-2 bg-primary text-smokey-gray rounded-md flex gap-1 items-center"
    (click)="toggleIsOpen()"
  >
    <span>Filters</span>
    <app-filter-icon></app-filter-icon>
  </button>
  <div
    *ngIf="isOpen"
    class="fixed w-full h-full top-0 left-0 z-[1]"
    (click)="close()"
  ></div>
  <ul *ngIf="isOpen" class="z-[1] absolute bg-white shadow-lg py-2 rounded-lg">
    <li
      *ngFor="let filter of filters"
      class="cursor-pointer hover:bg-black hover:bg-opacity-level-10 px-2"
    >
      <button
        class="flex justify-between items-center gap-4 w-full p-2"
        (click)="filterClicked(filter.id, filter.isActive)"
      >
        <span class="">{{ filter.name }}</span>
        <input type="checkbox" tabindex="-1" [checked]="filter.isActive" />
      </button>
    </li>
  </ul>
</div>
