<div class="flex justify-end items-center gap-2 px-4">
  <div class="flex gap-2 items-center">
    <span>Per Page</span>
    <div class="relative">
      <button
        class="px-3 py-2 border rounded-md bg-snow-white"
        (click)="setIsDropDownOpen(true)"
      >
        {{ currentTotal }}
      </button>
      <div
        *ngIf="isDropDownOpen"
        class="fixed w-full h-full top-0 left-0 z-[1]"
        (click)="setIsDropDownOpen(false)"
      ></div>
      <ul
        *ngIf="isDropDownOpen"
        class="z-[1] absolute bg-white shadow-lg border border-smokey-gray py-2 rounded-lg right-0 bottom-full"
      >
        <li
          *ngFor="let num of total"
          class="cursor-pointer hover:bg-black hover:bg-opacity-level-10 px-2"
        >
          <button
            class="flex justify-between items-center gap-4 w-full p-2"
            (click)="onTotalChange(num)"
          >
            {{ num }}
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <button
      class="rounded-full w-6 h-6 p-1 hover:bg-black hover:bg-opacity-level-10 focus:bg-black focus:bg-opacity-level-30 disabled:hover:bg-transparent disabled:text-gray-400"
      [disabled]="currentPage <= 1"
      (click)="onPreviousPage(currentPage)"
    >
      <app-previous-icon></app-previous-icon>
    </button>
    <button
      class="rounded-full w-6 h-6 p-1 hover:bg-black hover:bg-opacity-level-10 focus:bg-black focus:bg-opacity-level-30"
      (click)="onNextPage(currentPage)"
    >
      <app-next-icon></app-next-icon>
    </button>
  </div>
</div>
